<h1><%= @user.email %> </h1>

<% unless @user.events.empty? %>
<h2>created events:</h2>
<p>
<% @user.events.each do |event| %>
  <%= event.date %>:
  <%= link_to event.name, event %><br>
<% end %>
</p>
<% end %>

<% unless @user.attended_events.future.empty? %>
<h2>upcoming events:</h2>
<p>
<% @user.attended_events.future.each do |event| %>
  <%= event.date %>:
  <%= link_to event.name, event %><br>
<% end %>
</p>
<% end %>

<% unless @user.attended_events.past.empty? %>
<h2>attended events:</h2>
<p>
<% @user.attended_events.past.each do |event| %>
  <%= event.date %>:
  <%= link_to event.name,event %><br>
<% end %>
</p>
<% end %>

<div class="spacer"></div>
<%= link_to 'Back', events_path %>
