<div class="events">
  <h1>Upcoming Events</h1>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.future.sort_by{ |x| x.date }.each do |event| %>
        <tr>
          <td><%= event.date %></td>
          <td><%= link_to event.name, event %></td>
          <% if user_signed_in? %>

            <% unless event.invites.any?{ |e| e.attendee == current_user } %>
              <td><%= link_to 'RSVP', invites_path(event.id), method: :post, data: { confirm: 'Are you sure you wish to attend this event?' }%> </td>
            <% else %>
              <td><i>Attending</i></td>
              <td><%= link_to 'un-RSVP?', invite_path(event.invites.find_by(attendee: current_user)), method: :delete, data: { confirm: 'Are you sure you wish to un-RSVP for this event?' }%></td>
            <% end %>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<div class="spacer"></div>

<h2>Past Events</h2>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.past.each do |event| %>
      <tr>
        <td><%= event.date %></td>
        <td><%= link_to event.name, event %></td>
      </tr>
    <% end %>
  </tbody>
</table>


