<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @event.user.email %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to 'Back', events_path %> |
<% if current_user.eql?(@event.user) %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
